*{
  padding: 0px;
  box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
}
#first{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.user{
    width: 150px;
    padding: 5px;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    transition: transform 1s ease;
}
.user:hover{
    transform: scale(1.2);
}
img{
    width: 100px;
    height: 200px;
    object-fit: cover;

}
h1{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom:20px;
    text-align:center;
}
h2{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: orange;
}